<style>
    .d-none {
        display: none;
    }
    .throbber {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: none; /* Initially hidden */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style> 
<style>
    .info.legend {
        background: white;
        padding: 10px;
        font: 14px/1.5 "Arial", sans-serif;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    .info.legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .info.legend strong {
        font-size: 16px;
    }
</style>
<style>
    #map { height: 600px; }
    .info.stress_legend { background: white; padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; }
    .info.stress_legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
    .info.stress_legend .label { margin-bottom: 4px; }
    .info.stress_legend .green { background: #00ff00; }
    .info.stress_legend .yellow { background: #ffff00; }
    .info.stress_legend .red { background: #ff0000; }
    .info.stress_legend .blue { background: #0004ff; }
</style>
<div class="subContent" id="Manmadewaterfeatures">
    <h5 class="heading">Man-made water related features</h5>
    <hr>
    <div class="custom-control custom-switch m-2" id="showWellsDiv" data-district-name="{{ feature.district_name }}">
        <input type="checkbox" class="custom-control-input" value="Wells" id="chwells" onchange="defineWell(this)">
        <label class="custom-control-label" for="chwells">Show Wells</label>
        <label><em>Wells Last updated 20-04-2023</em></label><br>
    </div>
    
    <div class="custom-control custom-switch m-2 {% if feature.district_name != 'Nashik' %}d-none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{nashik_wells}" id="nashik_wells"
            onchange="GetSelectedWells(this)">
        <label class="custom-control-label" for="nashik_wells">Nashik Wells</label>
    </div>
    
    <div class="custom-control custom-switch m-2 {% if feature.district_name != 'Bhandara' %}d-none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{chwells1}" id="chwells1"
            onchange="defineWell(this)">
        <label class="custom-control-label" for="chwells1">Bhandara Wells(Captured by Students)</label>
    </div>
   
    <div class="custom-control custom-switch m-2 {% if feature.district_name != 'Bhandara' %}d-none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{bhandara_obs_wells}" id="bhandara_obs_wells"
            onchange="GetSelectedWells(this)">
        <label class="custom-control-label" for="bhandara_obs_wells">Observation Wells</label>
    </div>

    <div class="custom-control custom-switch m-2 {% if feature.district_name != 'Bhandara' %}d-none{% endif %}">
    <input type="checkbox" class="custom-control-input" value="{bhandara_obs_wells_stress}" id="bhandara_obs_wells_stress"
        onchange="GetSelectedWells(this)">
    <label class="custom-control-label" for="bhandara_obs_wells_stress">Observation Wells Stress</label>
         </div>
         <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
         <input type="checkbox" class="custom-control-input" value="{bh_tap_connection}" id="bhtap_connection"
             onchange="tapStress(this)">
         <label class="custom-control-label" for="bhtap_connection">Tap Connections (rural)</label>
     </div>
         <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
         <input type="checkbox" class="custom-control-input" value="{bh_tap_connection_layer}" id="tap_connection_layer"
             onchange="tapStress(this)">
         <label class="custom-control-label" for="tap_connection_layer">Stress on Tap Connections (rural)</label>
     </div>
     <div class="custom-control custom-switch m-2"
     style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
     <input type="checkbox" class="custom-control-input" value="{tap_connection_sc}" id="scst_tap_connection"
         onchange="tapStress(this)">
     <label class="custom-control-label" for="scst_tap_connection">Stress on Tap Connections w.r.t SC and ST</label>
     </div>
     <div class="ml-4"> <!-- Adjust margin-left as needed for spacing -->
         <div class="custom-control custom-switch m-2"
              style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
             <input type="checkbox" class="custom-control-input" value="{tap_connection_scst}" id="scst_population"
                    onchange="tapStress(this)">
             <label class="custom-control-label" for="scst_population">SC and ST population</label>
         </div>
     </div>
     <div class="custom-control custom-switch m-2"
     style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
     <input type="checkbox" class="custom-control-input" value="{tap_connection_ch}" id="ch_tap_connection"
         onchange="tapStress(this)">
     <label class="custom-control-label" for="ch_tap_connection">Stress on Taps w.r.t no. of children</label>
     </div>
     <div class="ml-4"> <!-- Adjust margin-left as needed for spacing -->
        <div class="custom-control custom-switch m-2"
             style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
            <input type="checkbox" class="custom-control-input" value="{no_of_children}" id="ch_population"
                   onchange="tapStress(this)">
            <label class="custom-control-label" for="ch_population">Number of children</label>
        </div>
    </div>
<!-- Throbber -->
      {% comment %} <div id="throbber" class="throbber"></div>   {% endcomment %}
    
    <div class="card {% if feature.district_name != 'Nashik' %}d-none{% endif %}">
        <div class="card-header" id="headingsix">
            <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#nashikwaterquality" aria-expanded="false" aria-controls="collapseThree">
                    Nashik Wells basis on Water Quality
                </button>
            </h2>
        </div>
        <div id="nashikwaterquality" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_turbidity}" id="wq-1"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-1">on basis of <b> Turbidity</b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_alkalinity}" id="wq-2"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-2">on basis of <b> Alkanility </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_ph}" id="wq-3"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-3">on basis of <b> Ph </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_nitrates}" id="wq-4"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-4">on basis of <b> Nitrates </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_flourides}" id="wq-5"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-5">on basis of <b> Flourides </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_chloride}" id="wq-6"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-6">on basis of <b> Chloride </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_sulphate}" id="wq-7"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-7">on basis of <b> Sulphate </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_odour}" id="wq-8"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-8">on basis of <b> Odour </b></label>
                </div>
                <div class="custom-control custom-switch m-2">
                    <input type="checkbox" class="custom-control-input" value="{nashik_taste}" id="wq-9"
                        onchange="getBoundary(this)">
                    <label class="custom-control-label" for="wq-9">on basis of <b> Taste </b></label>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const showWellsDiv = document.getElementById('showWellsDiv');
        const districtName = showWellsDiv.getAttribute('data-district-name');
        
        if (districtName === 'Nashik') {
            showWellsDiv.remove(); // This line removes the entire div
        }
    });
</script>