{% load static%} {% load i18n %}
<style>
    #showWellsDiv,
    #obs_wells_district0 {
        display: none;
    }
</style>
<style>
    #map { height: 600px; }
    .info.stress_legend { background: white; padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; }
    .info.stress_legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
    .info.stress_legend .label { margin-bottom: 4px; }
    .info.stress_legend .green { background: #00ff00; }
    .info.stress_legend .yellow { background: #ffff00; }
    .info.stress_legend .red { background: #ff0000; }
    .info.stress_legend .blue { background: #0004ff; }
</style>
<div class="subContent" id="querybuilder">
    <h5 class="heading">Query builder</h5>
    <hr>

    <ul class="nav nav-pills nav-fill" id="queryTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="attribute-tab" data-toggle="pill" href="#attribute" role="tab"
                aria-controls="attribute" aria-selected="true">Attribute Query</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="spatial-tab" data-toggle="pill" href="#spatial" role="tab" aria-controls="spatial"
                aria-selected="false">Spatial Query</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="nearest-tab" data-toggle="pill" href="#nearest" role="tab" aria-controls="nearest" role="tab" aria-controls="nearest"
                aria-selected="false">Nearest Query</a>
        </li>
    </ul>


    <div class="tab-content mt-4" id="queryTabContent">
        <div class="tab-pane fade show active" id="attribute" role="tabpanel" aria-labelledby="attribute-tab">
            <div class="mb-3">
                <select class="form-control form-control-sm" id="qry_layers">
                    <option>--SELECT LAYER--</option>
                    {% for layer in alllayers %}
                    <option value="{{ layer.name }}">{{ layer.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label>Select Column</label>
                <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example"
                    id="qry_columns"></select>
            </div>
            <div class="mb-3">
                <label>Select operator</label>
                <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example"
                    id="qry_operator"></select>
            </div>
            <div class="mb-3">
                <label>Select Value</label>
                <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example" id="qry_values"></select>
            </div>
            <div class="mb-3">
                <input type="checkbox" id="enableColumn2"> <!-- Add this checkbox -->
                <label for="enableColumn2">Enable Column 2</label> <!-- Add label for checkbox -->
            </div>
            <div id="column2Options" style="display: none;"> <!-- Wrap Column 2 options in a container with display none -->
                <div class="mb-3">
                    <label>Select Logical Operator</label>
                    <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example" id="qry_logical_operator">
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Select Column 2</label>
                    <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example" id="qry_columns_2"></select>
                </div>
                <div class="mb-3">
                    <label>Select Operator 2</label>
                    <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example" id="qry_operator_2"></select>
                </div>
                <div class="mb-3">
                    <label>Select Value 2</label>
                    <select class="form-control form-select form-select-sm" aria-label=".form-select-sm example" id="qry_values_2"></select>
                </div>
            </div>
            {% comment %} <input type="checkbox" id="addAnotherLayerCheckbox">
            <label for="addAnotherLayerCheckbox">Add Another Layer</label> {% endcomment %}


            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>SQL Where Clause:</strong></label>
                <textarea class="form-control form-control-sm" id="rawquery" rows="2"></textarea>
                <button class="btn btn-dark btn-sm mt-2 rounded-pill" id="clearText"><span class="fas fa-eraser"></span>
                    Clear Text</button>
            </div>

            <div class="mb-3 text-center">
                <button class="btn btn-success btn-sm w-100 mb-2 rounded-pill" onclick="showQueryResult()"><i
                        class="icofont-check-circled"></i> Apply</button>
                <!-- <button class="btn btn-outline-secondary btn-sm rounded-pill" onclick="clearQueryResult()"><i
                        class="icofont-eraser"></i> Clear</button> -->
                <button class="btn btn-outline-secondary btn-sm rounded-pill" onclick="clearGraphic()"><i
                        class="icofont-eraser"></i> Clear Graphic</button>
            </div>
            <!-- End Query Attribute Query Builder -->
        </div>

        <div class="tab-pane fade" id="spatial" role="tabpanel" aria-labelledby="spatial-tab">
            <div class="mb-3">
                <button id="toggle-stress-level">Toggle Stress Level</button>
<div id="map" style="height: 600px;"></div>
            </div>
            <!-- Rest of the spatial query content -->
            <!-- ... -->
        </div>

        <div class="tab-pane fade" id="nearest" role="tabpanel" aria-labelledby="nearest-tab">
            <div id="navigatedarea">
                <div id="checkboxes22">
                    <div class="tooltips" title="Please select the Wells" id="showWellsDiv">
                        <label>
                            <input type="checkbox" value="Wells" id="chwells" onchange="defineWell(this)">
                            <span style="color:black;"><b> Show Wells</b></span>
                        </label>
                        <label><em>Wells Last updated 20-04-2023</em></label><br>
                    </div>
                    <div class="tooltips" title="Please select the Observation Wells" id="obs_wells_district0">
                        <label>
                            <input type="checkbox" value="{bhandara_obs_wells}" id="bhandara_obs_wells" onchange="GetSelectedWells(this)">
                            <span style="color:black;"><b> Observation Wells</b></span>
                        </label>
                    </div>
                </div>

            <div class="tooltips" title="Please select Wells">
                <label>
                    <input type="checkbox" value="Wells" id="toggleWellsCheckbox" onchange="toggleWells(this)">
                    <span style="color:black;"><b> Wells</b></span>
                </label>
            </div>
        
            <div id="wellControls" style="display:none;">
                <div class="d-flex justify-content-center m-1">
                    <button type="button" class="btn btn-primary" id='setlocation'>Set Location</button>
                </div>
        
                <button type="button" class="btn btn-primary" id='find-nearest'>Find Nearest Well</button>
        
                <div id="slider">
                    <label>Set Range</label><br>
                    <input type="range" min="1" max="20" value="1" class="slider" id="myRange" step="1">
                    <div class="sliderticks">
                        <p>1</p>
                        <p>5</p>
                        <p>10</p>
                        <p>15</p>
                        <p>20</p>
                    </div>
                    <button type="button" class="btn btn-primary" id='setbuffer'>Wells within <span id="demo"></span> Km</button>
                </div>
            </div> 

            {% comment %} <div class="tooltips" title="Please select Villages near river">
                <label>
                    <input type="checkbox" value="Villages near river" id="toggleVillagesNearRiverCheckbox" onchange="toggleVillagesNearRiver(this)">
                    <span style="color:black;"><b> Villages near river</b></span>
                </label>
            </div> {% endcomment %}
            
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="combinedLayerCheckbox" onchange="toggleCombinedLayer(this)">
                <label class="custom-control-label" for="combinedLayerCheckbox">
                    Show layer
                </label>
            </div>

            {% comment %} <div class="tooltips" title="Please select villages" id="villages_in_district">
                <label>
                    <input type="checkbox" value="{maharural}" id="maharural1" onchange="toggleLayer(this, 'villages')">
                    <span style="color:black;"><b>Villages</b></span>                    
                </label>
            </div>  {% endcomment %}
            
            {% comment %} <div class="card" style="{% if feature.rivers == False %}display:none{% endif %}">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="riversAndBasinsCheckbox" onchange="toggleLayer(this, 'riversAndBasins')">
                    <label class="custom-control-label" for="riversAndBasinsCheckbox">
                        Rivers And Basins
                    </label>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
            
                        {% for layer in layers %}
                            {% if layer.sub_title == "basins" %}
                                <div class="custom-control custom-switch m-2">
                                    <input type="checkbox" class="custom-control-input rivers-and-basins" value="{{layer.value}}"
                                        id="river_{{ forloop.counter0 }}" onchange="{{layer.method}}">
                                    <label class="custom-control-label"
                                        for="river_{{ forloop.counter0 }}">{{layer.display_checkbox_name}}</label>
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="">
                                No Data Found
                                {{feature.district_name}}
                            </div>
                        {% endfor %}
            
                        {% for layer in layers %}
                            {% if layer.sub_title == "rivers" %}
                                <div class="custom-control custom-switch m-2">
                                    <input type="checkbox" class="custom-control-input rivers-and-basins" value="{{layer.value}}"
                                        id="rivers_{{ forloop.counter0 }}" onchange="{{layer.method}}">
                                    <label class="custom-control-label"
                                        for="rivers_{{ forloop.counter0 }}">{{layer.display_checkbox_name}}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div> {% endcomment %}
            

            </div> 
        </div>        
    </div>
</div> 