<div class="subContent" id="Staterelateddata">
    <h5 class="heading">State Related Data </h5>
    <hr>


    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{mahadem}" onchange="getBoundaryst(this)"
            id="statedata1">
        <label class="custom-control-label" for="statedata1">Demography </label>
    </div>
    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{mahatown}" onchange="getBoundaryst(this)"
            id="statedata2">
        <label class="custom-control-label" for="statedata2"> Urban Areas</label>
    </div>
    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{maharoad}" onchange="getBoundaryst(this)"
            id="statedata3">
        <label class="custom-control-label" for="statedata3"> Road Network</label>
    </div>
    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{mahaschool}" onchange="getBoundaryst(this)"
            id="statedata4">
        <label class="custom-control-label" for="statedata4"> Schools</label>
    </div>
    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{mahaengg}" onchange="getBoundaryst(this)"
            id="statedata5">
        <label class="custom-control-label" for="statedata5"> Engineering
            Colleges </label>
    </div>
    <div class="custom-control custom-switch m-2  ">
        <input type="checkbox" class="custom-control-input" value="{mah_river}" onchange="getBoundary(this)"
            id="statedata6">
        <label class="custom-control-label" for="statedata6">All
            Maharashtra Rivers </label>
    </div>














</div>