<style>
    .d-none {
        display: none;
    }
    .throbber {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: none; /* Initially hidden */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style> 
<style>
    .info.legend {
        background: white;
        padding: 10px;
        font: 14px/1.5 "Arial", sans-serif;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    .info.legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .info.legend strong {
        font-size: 16px;
    }
</style>
<style>
    #map { height: 600px; }
    .info.stress_legend { background: white; padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; }
    .info.stress_legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
    .info.stress_legend .label { margin-bottom: 4px; }
    .info.stress_legend .green { background: #00ff00; }
    .info.stress_legend .yellow { background: #ffff00; }
    .info.stress_legend .red { background: #ff0000; }
    .info.stress_legend .blue { background: #0004ff; }
</style>
<style>
    .custom-hr {
        border: 0.5px solid #ccc; /* Change the color and thickness as needed */
        margin: 10px 0; /* Adjust the top and bottom margins */
    }
</style>
<div class="subContent" id="WaterStress">
    <h5 class="heading">Water Stress</h5>
    <hr>
    <div class="custom-control custom-switch m-2 {% if feature.district_name != 'Bhandara' %}d-none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{bhandara_obs_wells_stress}" id="bhandara_obs_wells_stress"
            onchange="GetSelectedWells(this)">
        <label class="custom-control-label" for="bhandara_obs_wells_stress">Observation Wells Stress</label>
    </div>
    <hr class="custom-hr">
    <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{bh_tap_connection}" id="bhtap_connection"
               onchange="tapStress(this)">
        <label class="custom-control-label" for="bhtap_connection">Tap Connections (rural)</label>
    </div>
    <hr class="custom-hr">
    <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{bh_tap_connection_layer}" id="tap_connection_layer"
               onchange="tapStress(this)">
        <label class="custom-control-label" for="tap_connection_layer">Stress on Tap Connections (rural)</label>
    </div>
    <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{tap_connection_sc}" id="scst_tap_connection"
               onchange="tapStress(this)">
        <label class="custom-control-label" for="scst_tap_connection">Stress on Tap Connections w.r.t SC and ST</label>
    </div>
    <div class="ml-4"> 
        <div class="custom-control custom-switch m-2"
             style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
            <input type="checkbox" class="custom-control-input" value="{tap_connection_scst}" id="scst_population"
                   onchange="tapStress(this)">
            <label class="custom-control-label" for="scst_population">SC and ST population</label>
        </div>
    </div>
    <div class="custom-control custom-switch m-2"
         style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
        <input type="checkbox" class="custom-control-input" value="{tap_connection_ch}" id="ch_tap_connection"
               onchange="tapStress(this)">
        <label class="custom-control-label" for="ch_tap_connection">Stress on Taps w.r.t no. of children</label>
    </div>
    <div class="ml-4"> 
        <div class="custom-control custom-switch m-2"
             style="{% if feature.district_name != 'Bhandara' %}display:none{% endif %}">
            <input type="checkbox" class="custom-control-input" value="{no_of_children}" id="ch_population"
                   onchange="tapStress(this)">
            <label class="custom-control-label" for="ch_population">Number of children</label>
        </div>
    </div>
    <!-- Throbber -->
    <div id="throbber" class="throbber"></div>


</div>