{% extends 'dashboard/watergis_base2.html' %}
{% load static%} {% block content %}

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>About Amrutvahini</h1>
            <p>Website is under construction. For suggestions, please contact:</p>
            <ul>
                <li>Prof. Jitendra Shah - <a href="mailto:info@communitygis.net">info@communitygis.net</a></li>
                <li>Monika Shah - <a href="mailto:samanvay.mumbai@gmail.com">samanvay.mumbai@gmail.com</a></li>
            </ul>
            <p>Design Incharge: Ms. Sweta Jhunjhunwala from Jalbiradari</p>
            <p>Contact: <a href="mailto:sweta@tulsipatra.org">sweta@tulsipatra.org</a></p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/logo.jpeg' %}" alt="About Image" class="img-fluid">
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 fixed-bottom">
    <p>© 2023 Amrutvahini. All rights reserved.</p>
</footer>

{% endblock %}