{% extends 'dashboard/watergis_base2.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="/dashboard/water_related_forms" class="btn btn-primary py-2 px-4 hover:bg-blue-700">
    {% trans "Back to WaterRelated Forms" %}
</a>

<div class="container mt-5" style="max-height: 500px; overflow-y: auto;">
    <h2 class="text-center">{% trans "Man-Made Features" %}</h2>
    <h4 class="text-center mb-5"><u>{% trans "Human Intervention Form" %}</u></h4>
    <form id="form" action="{% url 'human_form' %}" name="form" method="post" class="offset-md-3">
        {% csrf_token %}

        <div class="form-group col-md-9">
            <label for="district">{% trans "District Name:" %}</label>
            <input type="text" class="form-control" name="district" id="district" placeholder="Enter district name">
        </div>
        <div class="form-group col-md-9">
            <label for="taluka">{% trans "Taluka Name:" %}</label>
            <input type="text" class="form-control" name="taluka" id="taluka" placeholder="Enter taluka name">
        </div>
        <div class="form-group col-md-9">
            <label for="village">{% trans "Village Name:" %}</label>
            <input type="text" class="form-control" name="village" id="village" placeholder="Enter village name">
        </div>
        <div class="form-group col-md-9">
            <label for="stretchNo">{% trans "Stretch No.:" %}</label>
            <input type="text" class="form-control" name="stretchNo" id="stretchNo" placeholder="Enter stretch number">
        </div>
        <div class="form-group col-md-9">
            <label for="stretchStart">{% trans "Stretch Start:" %}</label>
            <input type="date" class="form-control" name="stretchStart" id="stretchStart">
        </div>
        <div class="form-group col-md-9">
            <label for="stretchEnd">{% trans "Stretch End:" %}</label>
            <input type="date" class="form-control" name="stretchEnd" id="stretchEnd">
        </div>
        <div class="form-group col-md-9">
            <label for="owner">{% trans "Owner Name:" %}</label>
            <input type="text" class="form-control" name="owner" id="owner" placeholder="Enter owner name">
        </div>
        <div class="form-group col-md-9">
            <label for="projectIncharge">{% trans "Project Incharge:" %}</label>
            <input type="text" class="form-control" name="projectIncharge" id="projectIncharge" placeholder="Enter project incharge name">
        </div>
        <div class="form-group col-md-9">
            <label for="revisionNo">{% trans "Revision No.:" %}</label>
            <input type="text" class="form-control" name="revisionNo" id="revisionNo" placeholder="Enter revision number">
        </div>
        <div class="form-group col-md-9">
            <label for="contactNo">{% trans "Contact No.:" %}</label>
            <input type="tel" class="form-control" name="contactNo" id="contactNo" placeholder="Enter contact number">
        </div>
        <div class="form-group col-md-9">
            <label for="feature">{% trans "Feature:" %}</label>
            <select class="form-control" name="feature" id="feature">
                <option value="">{% trans "---Search---" %}</option>
                <option value="canals">{% trans "Canals" %}</option>
                <option value="walls">{% trans "Walls" %}</option>
                <option value="pitching">{% trans "Pitching" %}</option>
                <option value="debris-dumps">{% trans "Debris Dumps" %}</option>
                <option value="solid-waste-dumps">{% trans "Solid Waste Dumps" %}</option>
                <option value="construction">{% trans "Construction" %}</option>
                <option value="sewage-chambers">{% trans "Sewage Chambers" %}</option>
            </select>
        </div>
        <div class="form-group col-md-9">
            <label for="latitude">{% trans "Latitude:" %}</label>
            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Allow location access to capture your location" readonly>
        </div>
        <div class="form-group col-md-9">
            <label for="longitude">{% trans "Longitude:" %}</label>
            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Allow location access to capture your location" readonly>
        </div>
        <div class="form-group col-md-9">
            <label for="date">{% trans "Date:" %}</label>
            <input type="date" class="form-control" name="date" id="date">
        </div>
        <div class="form-group col-md-12">
            <label for="description">{% trans "Description:" %}</label>
            <textarea id="description" name="description" class="form-control" rows="4" cols="4"></textarea>
        </div>
        <div class="form-group col-md-5">
            <input type="button" class="btn btn-primary col-5 mt-2" value="Get Location" onclick="getLocation()">
        </div>
        <div class="form-group col-md-5">
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary col-5 mt-2">
            <input type="reset" name="reset" id="reset" value="Reset" class="btn btn-secondary col-5 mt-2">
        </div><br><br>
    </form>
</div>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        document.getElementById("latitude").value = latitude;
        document.getElementById("longitude").value = longitude;
    }
</script>

{% endblock %}
