{% load static %}
<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earth Engine Map</title>
    <link rel="stylesheet" href="{% static 'leaflet.css' %}" />
    <script src="{% static 'leaflet.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <h1>Earth Engine Map</h1>

    {% if map_html %}
        <div id="map">
            {{ map_html|safe }}
        </div>
    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <p>No map or error message to display.</p>
    {% endif %}

</body>
</html>
