{% extends 'dashboard/watergis_base2.html' %}
{% load static%} {% block content %}

<style>
    /* ... Your existing styles ... */

    .scrollable-container {
        height: 500px;
        /* Set the desired height for the scrollable container */
        overflow: auto;
        /* Enable scrolling */
    }
</style>

<!-- Your existing code -->

<div class="container mt-5 scrollable-container">
    <!-- Content goes here -->
    <h1>Resources</h1>
    <hr>
    <h6>Documents</h6>
    <ul class="list-group">

        {% for doc in documents %}
        <li class="list-group-item">
            <a href="{{ doc.url }}">{{ doc }}</a>
        </li>
        {% endfor %}
    </ul><br>
    <h6>Images</h6>
    <div class="row mt-5">

        {% for image in images %}
        <div class="col-md-6 mb-4">
            <a href="{{ image.file.url }}" data-lightbox="images" data-title="{{ image.title }}">
                <img src="{{ image.file.url }}" alt="{{ image.title }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <h6>Links </h6><br>
    <ul class="list-group">

        {% for link in links %}
        <li class="list-group-item">
            <a href="{{ link.url }}">
                {{ link.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}