<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Features Form</title>
  <style>
    
   
  </style>
</head>

<body>
    <a href="/dashboard/watergis" class="btn btn-primary py-2 px-4 hover:bg-blue-700">
        Back to HomePage
      </a>
    </div>

  <div class="container ">
    <h2 class=" mt-3 text-center">Man-Made Features</h2>
    <h4 class="text-center mb-5"><u> Water Usable Features Form </u></h4>
    <form class="offset-md-3" id="form" action="{% url 'water_usable' %}" name="form" method="post">
      {% csrf_token %}
      
      <div class="form-group col-md-9">
        <label for="district">District Name:</label>
        <input type="text" class="form-control" name = "district" id="district" placeholder="Enter district name">
      </div>
      <div class="form-group col-md-9">
        <label for="taluka">Taluka Name:</label>
        <input type="text" class="form-control" name="taluka" id="taluka" placeholder="Enter taluka name">
      </div>
      <div class="form-group col-md-9">
        <label for="village">Village Name:</label>
        <input type="text" class="form-control" name="village" id="village" placeholder="Enter village name">
      </div>
      <div class="form-group col-md-9">
        <label for="stretchNo">Stretch No.:</label>
        <input type="text" class="form-control" name="stretchNo" id="stretchNo" placeholder="Enter stretch number">
      </div>
      <div class="form-group col-md-9">
        <label for="stretchStart">Stretch Start:</label>
        <input type="date" class="form-control" name="stretchStart" id="stretchStart">
      </div>
      <div class="form-group col-md-9">
        <label for="stretchEnd">Stretch End:</label>
        <input type="date" class="form-control" name="stretchEnd" id="stretchEnd">
      </div>
      <div class="form-group col-md-9">
        <label for="owner">Owner Name:</label>
        <input type="text" class="form-control" name="owner" id="owner" placeholder="Enter owner">
      </div>
      <div class="form-group col-md-9">
        <label for="projectIncharge">Project Incharge:</label>
        <input type="text" class="form-control" name="projectIncharge" id="projectIncharge" placeholder="Enter project incharge">
      </div>
      <div class="form-group col-md-9">
        <label for="revisionNo">Revision No.:</label>
        <input type="text" class="form-control" name="revisionNo" id="revisionNo" placeholder="Enter revision number">
      </div>
      <div class="form-group col-md-9">
        <label for="contactNo">Contact No.:</label>
        <input type="tel" class="form-control" name="contactNo" id="contactNo" placeholder="Enter contact number">
      </div>

      <div class="form-group col-md-9">
        <label for="feature">Feature:</label>
        <select class="form-control" name="feature" id="feature">
          <option value="">---Search---</option>
          <option value="lift-irrigation">Lift Irrigation</option>
          <option value="drinking-water">Drinking Water</option>
          <option value="fishing">Fishing</option>
          <option value="washing-clothes">Washing Clothes</option>
          <option value="rickshaw-bathing">Rickshaw Bathing</option>
          <option value="cattle-bathing">Cattle Bathing</option>
          </select>
      </div>

      <div class="form-group col-md-9">
        <label for="latitude">Latitude:</label>
        <input type="text" placeholder="Allow location access to capture your location" class="form-control" id="latitude" name="latitude" readonly>
      </div>
        <div class="form-group col-md-9">
          <label for="longitude">Longitude:</label>
          <input type="text" placeholder="Allow location access to capture your location" class="form-control" id="longitude" name="longitude" readonly>
        </div>   
      <div class="form-group col-md-9">
        <label for="date">Date:</label>
        <input type="date" class="form-control" name="date" id="date">
      </div>
      <div class="form-group col-md-12" >        
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" rows="4" cols="4"></textarea>
      </div>

      <div class="col-md-5">
        <input type="button" class="btn btn-primary col-5 mt-2" value="Get Location" onclick="getLocation()">
      </div>
        <div class="col-md-5">
          <input type="submit" name="submit" id="submit" value="Submit" onClick="ValidateAll()"
          class="btn btn-primary col-5 mt-2">
        <input type="reset" name="reset" id="reset" value="Reset"
          class="btn btn-secondary col-5 mt-2">
        </div><br><br>
         

    </form>
  </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const closeButtons = document.querySelectorAll(".close-btn");
  
      closeButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          this.parentNode.parentNode.remove();
        });
      });
    });
  </script>

<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    document.getElementById("latitude").value = latitude;
    document.getElementById("longitude").value = longitude;
  }
</script>
  </html>
