{% extends 'dashboard/watergis_base2.html' %}
{% load static%}{% load i18n %} {% block content %}

<style>
    /* ... Your existing styles ... */

    .scrollable-container {
        height: 500px;
        /* Set the desired height for the scrollable container */
        overflow: auto;
        /* Enable scrolling */
    }
</style>

<!-- Your existing code -->

<div class="container mt-5 scrollable-container">
    <!-- Content goes here -->
    <h1 class=" mt-3 text-center"> {% trans "Water Related Forms" %} </h1><br>
    <h5><b>{% trans "Water Quality Form" %} </b></h5>
    <ul class="list-group">
        <li class="list-group-item">
        <a href="{% url 'waterquality' %}"> {% trans "Water Quality Form" %}</a>
        </li>
    </ul>
    <hr>
    <h5><b>{% trans "Natural Features" %} </b></h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'physical_feature' %}">{% trans "Physical Features Form" %}</a><br><hr>
            <a href="{% url 'feature' %}">{% trans "Biological Features Form" %}</a>
        </li>
    </ul><br>
    <h5><b>{% trans "Man-Made Features" %} </b></h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'human_form' %}">{% trans "Human Intervention Form" %}</a><br><hr>
            <a href="{% url 'cultural' %}">{% trans "Cultural Hotspots Form" %}</a><br><hr>
            <a href="{% url 'water_usable' %}">{% trans "Water Usable Features Form" %}</a>
        </li>
    </ul><br>

</div>
<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 fixed-bottom">
 <div class="h-full p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    <!-- <img class="logo" style="margin-top: 5px; height: 80px; width: 120px;" src="{% static 'images/Logo-Unit_SWK.jpg' %}" alt="My image"> -->
    <a class="text-white">
        <p>
           <b>Software:</b>
           This prototype is developed using FOSS technology and is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3 (GPL-3.0)</a>.
        <br><b>Content:</b>
            Unless otherwise specified, the content on this website is licensed under a<a href ="https://creativecommons.org/licenses/by-sa/4.0/deed.en"> Creative Commons Attribution-ShareAlike 4.0 International License.</a>
        <br><b>Devloped by:</b><a href="mailto:monikapatira@gmail.com"> Monika Shah(Consultant at CTARA, IIT-B)</a> under guidance of <a href = "jituviju@gmail.com">Prof. Jitendra Shah (Senior Consultant, Senior Research Scientist at GISE Lab  CSE & CTARA, IIT-B).</a>
        <br><b>Attribution credits to:</b> <a href = 'https://www.ctara.iitb.ac.in'>CTARA, IIT-B</a></b> and <b><a href = 'https://gise.cse.iitb.ac.in/'>GISE HUB, IIT-B.</a></b>

        </p>
        <!-- <p>License to all software ( GPLv3) and content (share alike)</p>
        <p>This prototype is developed by using FOSS project Communitygis.net supported by <b><a href = 'https://www.ctara.iitb.ac.in'>CTARA IITB</a></b> and part-funded by <b><a href = 'http://www.ashanet.org/mumbai'>Asha Trust( Mumbai).</a></b></p>
        <p>Software Developer  Team: Monika Shah (CTARA, IITB) under guidance of Prof. Jitendra Shah (Consultant at GISE Lab  CSE  and at CTARA, IITB).</p>
         -->
    </a>
</div>
<!-- Copyright -->
</footer>

{% endblock %}